/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-light {
    --currentColor: rgba(0, 0, 0, 1);
    --bg-color: rgba(255, 255, 255, 1);
    --article-title-weight: 700;
    --article-content-weight: 400;
    --button-text-color: var(--bg-color);

    --bg-gradient:
            repeating-linear-gradient(90deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
            repeating-linear-gradient(180deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
            linear-gradient(180deg, var(--bg-color) 0%, var(--currentColor) 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        --currentColor: rgba(0, 0, 0, 1);
        --bg-color: rgba(255, 255, 255, 1);
        --article-title-weight: 700;
        --article-content-weight: 400;
        --button-text-color: var(--bg-color);

        --bg-gradient:
                repeating-linear-gradient(90deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
                repeating-linear-gradient(180deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
                linear-gradient(180deg, var(--bg-color) 0%, var(--currentColor) 100%);
    }
}

.theme-dark {
    --currentColor: rgb(0, 204, 20);
    --bg-color: rgb(0, 0, 0) ;
    --article-title-weight: 785;
    --article-content-weight: 465;
    --button-text-color: var(--currentColor);

    --bg-gradient:
            repeating-linear-gradient(90deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
            repeating-linear-gradient(180deg, var(--bg-color) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
            linear-gradient(180deg, rgb(0, 127, 12) 0%, rgb(0, 67, 6) 100%);
}